.skills {
    background-color: $main-grey;
    padding-top: 126px;   
}
.skill {
    display: grid;
    grid-template: repeat(2, minmax(270px, auto)) / repeat(4, minmax(270px, auto));
    gap: 20px;
    margin: 60px auto 0 auto;
    &__block {
        border: 1px solid #000000;
        padding: 30px;
    }
    &__img {
        height: 65px;
        width: 100%;
        display: block;
        margin: 0;
    }
    &__subtitle {
        font-weight: bold;
        margin-top: 20px;
    }
    &__text {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin-top: 15px;
    }
}
.scale {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    column-gap: 45px;
    margin-top: 90px;
    &__block{
       margin-top: 30px;
    } 
    &__procent {
        display: grid;
        grid-template-columns: 169px 30px;
        column-gap: 133px;
        &_proc {
            vertical-align: middle;
        }
    }
    &__line {
        &_top {
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
        }
        &_botton {
            height: 14px;
            background: $main-color;
            border-radius: 4px;
        }
    }
}