.title {
    font-size: 36px;
    line-height: 60px;
    font-weight: bold;
    &_fs14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fs16 {
        font-size: 16px;
        /* line-height: 24px; */
        &_white {
            color: white;
        }
    }
    &_fs20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fs36 {
        font-size: 36px;
    }
    &_fs48 {
        font-size: 48px;
        &_white {
            color: white;
        }
    }
}